# Node & Build
node_modules/
dist/
dist.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Server & Backend
server/node_modules/
backend/node_modules/


# Project Specific

old files/
legacy/
hash.txt

# Editor/System Files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Zencoder Specific

